<a href="https://colab.research.google.com/github/sgusproject/PythonDataframe-Learn/blob/main/3DataframeModify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modify Dataframes and Useful functions for computation

*   Calculate with columns
*   Create new columns
*   Drop Columns
*   Min, Max, Argmin, Argmax
*   Mean

In [2]:
import pandas as pd

In [6]:
# Convert Date column string type to Datetime
data = pd.read_csv("C.csv", index_col=0, parse_dates=True)

In [7]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-07-23  51.450001  52.230000  51.130001  52.080002  50.147495  17090400
2020-07-24  52.099998  52.480000  51.500000  51.669998  49.752705  16258900
2020-07-27  51.459999  51.459999  50.610001  51.290001  49.386806  13991400
2020-07-28  51.020000  51.660000  50.970001  51.270000  49.367554  13121400
2020-07-29  51.169998  52.590000  50.990002  52.520000  50.571167  16991000

In [8]:
# compute data Daily Change and input into dataframe as column
data['Daily Chg'] = data['Close'] - data['Open']

In [9]:
data.head()

                 Open       High        Low  ...  Adj Close    Volume  Daily Chg
Date                                         ...
2020-07-23  51.450001  52.230000  51.130001  ...  50.147495  17090400   0.630001
2020-07-24  52.099998  52.480000  51.500000  ...  49.752705  16258900  -0.430000
2020-07-27  51.459999  51.459999  50.610001  ...  49.386806  13991400  -0.169998
2020-07-28  51.020000  51.660000  50.970001  ...  49.367554  13121400   0.250000
2020-07-29  51.169998  52.590000  50.990002  ...  50.571167  16991000   1.350002

[5 rows x 7 columns]

In [10]:
# Normalizing data using 2020-07-23 as Day 1
data["Normalized"] = data['Close'] / data['Close'].iloc[0]

In [11]:
data.head()

                 Open       High        Low  ...    Volume  Daily Chg  Normalized
Date                                         ...
2020-07-23  51.450001  52.230000  51.130001  ...  17090400   0.630001    1.000000
2020-07-24  52.099998  52.480000  51.500000  ...  16258900  -0.430000    0.992127
2020-07-27  51.459999  51.459999  50.610001  ...  13991400  -0.169998    0.984831
2020-07-28  51.020000  51.660000  50.970001  ...  13121400   0.250000    0.984447
2020-07-29  51.169998  52.590000  50.990002  ...  16991000   1.350002    1.008449

[5 rows x 8 columns]

In [12]:
data['Close'].min() # minimum of the Close for this data series

41.130001

In [13]:
data.min() # minimum value of all values in this series

Open          4.097000e+01
High          4.154000e+01
Low           4.049000e+01
Close         4.113000e+01
Adj Close     4.000488e+01
Volume        6.824400e+06
Daily Chg    -3.720001e+00
Normalized    7.897465e-01
dtype: float64

In [14]:
data['Close'].argmin() # locate index of the min

68

In [15]:
data.iloc[68] # look at all values in the min Close

Open          4.097000e+01
High          4.159000e+01
Low           4.074000e+01
Close         4.113000e+01
Adj Close     4.000488e+01
Volume        2.748500e+07
Daily Chg     1.600000e-01
Normalized    7.897465e-01
Name: 2020-10-28 00:00:00, dtype: float64

In [16]:
data.iloc[63:73] # look at all values in the min Close, with adjacent values in small series

                 Open       High        Low  ...    Volume  Daily Chg  Normalized
Date                                         ...
2020-10-21  43.459999  43.730000  42.900002  ...  19816300  -0.450001    0.825845
2020-10-22  42.889999  43.990002  42.660000  ...  21341200   1.060002    0.843894
2020-10-23  44.209999  44.570000  43.669998  ...  18486500  -0.259998    0.843894
2020-10-26  43.360001  43.400002  42.810001  ...  24928100  -0.100003    0.830645
2020-10-27  43.040001  43.040001  41.869999  ...  24251700  -1.160000    0.804147
2020-10-28  40.970001  41.590000  40.740002  ...  27485000   0.160000    0.789747
2020-10-29  41.130001  42.150002  40.709999  ...  23351000   0.529999    0.799923
2020-10-30  41.029999  41.540001  40.490002  ...  26962800   0.389999    0.795315
2020-11-02  41.860001  42.669998  41.200001  ...  24310800   0.349998    0.810484
2020-11-03  43.299999  44.020000  43.060001  ...  29985200   0.230000    0.835829

[10 rows x 8 columns]

In [17]:
data['Normalized'].min()

0.7897465326518228

In [18]:
data['Normalized'].argmin()

68

In [19]:
data['Close'].max()

79.860001

In [20]:
data['Close'].argmax()

216

In [21]:
data.iloc[211:221]

                 Open       High        Low  ...    Volume  Daily Chg  Normalized
Date                                         ...
2021-05-25  78.199997  79.279999  77.190002  ...  20015800  -0.919998    1.483871
2021-05-26  77.209999  77.900002  76.680000  ...  15243400   0.309998    1.488479
2021-05-27  78.519997  79.110001  77.949997  ...  17467000   0.240005    1.512289
2021-05-28  78.660004  78.970001  77.910004  ...  14392800   0.049995    1.511329
2021-06-01  79.489998  80.089996  79.339996  ...  15450500   0.270004    1.531490
2021-06-02  80.099998  80.290001  79.379997  ...  15285600  -0.239997    1.533410
2021-06-03  79.709999  80.290001  79.419998  ...  22255800  -0.080002    1.528994
2021-06-04  79.690002  79.870003  78.809998  ...  13807000  -0.200004    1.526306
2021-06-07  79.620003  79.650002  79.019997  ...  12670100  -0.310005    1.522849
2021-06-08  78.300003  79.419998  77.709999  ...  15399100   0.779999    1.518433

[10 rows x 8 columns]

In [22]:
data.iloc[211:221]

                 Open       High        Low  ...    Volume  Daily Chg  Normalized
Date                                         ...
2021-05-25  78.199997  79.279999  77.190002  ...  20015800  -0.919998    1.483871
2021-05-26  77.209999  77.900002  76.680000  ...  15243400   0.309998    1.488479
2021-05-27  78.519997  79.110001  77.949997  ...  17467000   0.240005    1.512289
2021-05-28  78.660004  78.970001  77.910004  ...  14392800   0.049995    1.511329
2021-06-01  79.489998  80.089996  79.339996  ...  15450500   0.270004    1.531490
2021-06-02  80.099998  80.290001  79.379997  ...  15285600  -0.239997    1.533410
2021-06-03  79.709999  80.290001  79.419998  ...  22255800  -0.080002    1.528994
2021-06-04  79.690002  79.870003  78.809998  ...  13807000  -0.200004    1.526306
2021-06-07  79.620003  79.650002  79.019997  ...  12670100  -0.310005    1.522849
2021-06-08  78.300003  79.419998  77.709999  ...  15399100   0.779999    1.518433

[10 rows x 8 columns]

In [23]:
# Drop (delete) columns. axis=1 to define the other columns beyond index. Reduce redundant data
data.drop(labels=['High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)

In [24]:
data.head()

                 Open      Close  Daily Chg  Normalized
Date
2020-07-23  51.450001  52.080002   0.630001    1.000000
2020-07-24  52.099998  51.669998  -0.430000    0.992127
2020-07-27  51.459999  51.290001  -0.169998    0.984831
2020-07-28  51.020000  51.270000   0.250000    0.984447
2020-07-29  51.169998  52.520000   1.350002    1.008449