# Pandas-datareader
- pip install pandas_datareader to extract data directly from Yahoo Finance

### Libraries
- datetime
- pandas
- Yahoo finance, Nasdaq symbols

In [3]:
import pandas_datareader as pdr

In [2]:
#!pip install pandas_datareader

Collecting pandas_datareader
  Using cached pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: lxml in c:\users\cjlim\anaconda3\lib\site-packages (from pandas_datareader) (4.6.1)
Requirement already satisfied: pandas>=0.23 in c:\users\cjlim\anaconda3\lib\site-packages (from pandas_datareader) (1.1.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\cjlim\anaconda3\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\cjlim\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\cjlim\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\cjlim\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cjlim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\cjlim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\cjlim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\cjlim\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: six>=1.5 in c:\users\cjlim\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [5]:
import datetime as dt

In [6]:
# download data from Yahoo start date to date
ticker = "BA"
start = dt.datetime(2019, 1, 1)

data = pdr.get_data_yahoo(ticker, start)

In [7]:
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,323.640015,318.750000,320.500000,322.500000,3557700.0,313.372223
2019-01-02,323.950012,313.709991,316.190002,323.809998,3292200.0,314.645142
2019-01-03,319.739990,309.399994,319.489990,310.899994,5705600.0,302.100555
2019-01-04,328.440002,316.079987,316.690002,327.079987,4448800.0,317.822601
2019-01-07,330.690002,323.350006,330.519989,328.109985,4030300.0,318.823395

In [8]:
data.index

DatetimeIndex(['2018-12-31', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15',
               '2021-07-16', '2021-07-19', '2021-07-20', '2021-07-21',
               '2021-07-22', '2021-07-23'],
              dtype='datetime64[ns]', name='Date', length=646, freq=None)

In [9]:
data.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [10]:
data.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-07-19,211.550003,204.800003,211.179993,206.990005,24123600.0,206.990005
2021-07-20,217.369995,206.619995,208.100006,217.149994,17027300.0,217.149994
2021-07-21,224.089996,218.899994,219.500000,222.539993,11437600.0,222.539993
2021-07-22,222.250000,218.309998,221.520004,220.869995,9768900.0,220.869995
2021-07-23,224.630005,220.940002,222.970001,221.520004,9357000.0,221.520004

In [15]:
# download data from start date to end date
ticker = "BA"
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2021, 6, 30)

data = pdr.get_data_yahoo(ticker, start, end)

In [16]:
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,326.570007,323.320007,325.410004,325.760010,4958800.0,323.833313
2020-01-02,333.350006,327.700012,328.549988,333.320007,4544400.0,331.348572
2020-01-03,334.890015,330.299988,330.630005,332.760010,3875900.0,330.791901
2020-01-06,334.859985,327.880005,329.299988,333.739990,5355000.0,331.766083
2020-01-07,344.190002,330.709991,334.260010,337.279999,9898600.0,335.285156

In [17]:
data.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-06-24,250.740005,243.699997,245.199997,250.570007,13755600.0,250.570007
2021-06-25,252.300003,248.250000,250.750000,248.380005,9625800.0,248.380005
2021-06-28,245.080002,238.880005,244.729996,239.960007,18152000.0,239.960007
2021-06-29,244.369995,235.660004,243.740005,235.759995,16743900.0,235.759995
2021-06-30,241.169998,236.000000,236.240005,239.559998,12089100.0,239.559998

In [18]:
data.index

DatetimeIndex(['2019-12-31', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', name='Date', length=378, freq=None)

In [22]:
# data reader also get from nasdaq symbols & others
nasdaq_sym = pdr.get_nasdaq_symbols()

In [23]:
nasdaq_sym.loc["BA"]

Nasdaq Traded                                    True
Security Name       Boeing Company (The) Common Stock
Listing Exchange                                    N
Market Category
ETF                                             False
Round Lot Size                                    100
Test Issue                                      False
Financial Status                                  NaN
CQS Symbol                                         BA
NASDAQ Symbol                                      BA
NextShares                                      False
Name: BA, dtype: object

In [24]:
len(nasdaq_sym)

10954