<a href="https://colab.research.google.com/github/sgusproject/Algotrading-Quantconnect/blob/main/DataframesLearn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Dataframes

*   Read data from CSV (downloaded from Yahoo! Finance)
*   Understand data types
*   Set Index
*   Parse dates
*   Use Index with loc
*   Use indexing with iloc

In [ ]:
import pandas as pd

In [ ]:
# access pandas module/library for data
data = pd.read_csv("C.csv", index_col=0, parse_dates=True)

In [ ]:
data.head()

                Open       High        Low      Close  Adj Close    Volume
Date
7/23/2020  51.450001  52.230000  51.130001  52.080002  50.147495  17090400
7/24/2020  52.099998  52.480000  51.500000  51.669998  49.752705  16258900
7/27/2020  51.459999  51.459999  50.610001  51.290001  49.386806  13991400
7/28/2020  51.020000  51.660000  50.970001  51.270000  49.367554  13121400
7/29/2020  51.169998  52.590000  50.990002  52.520000  50.571167  16991000

In [ ]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [ ]:
data.index

DatetimeIndex(['2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28',
               '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-03',
               '2020-08-04', '2020-08-05',
               ...
               '2021-07-09', '2021-07-12', '2021-07-13', '2021-07-14',
               '2021-07-15', '2021-07-16', '2021-07-19', '2021-07-20',
               '2021-07-21', '2021-07-22'],
              dtype='datetime64[ns]', name='Date', length=252, freq=None)

In [ ]:
data.loc['2020-07-23']

Open         5.145000e+01
High         5.223000e+01
Low          5.113000e+01
Close        5.208000e+01
Adj Close    5.014749e+01
Volume       1.709040e+07
Name: 2020-07-23 00:00:00, dtype: float64

In [ ]:
data.loc[:'2021-01-11']

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-07-23  51.450001  52.230000  51.130001  52.080002  50.147495  17090400
2020-07-24  52.099998  52.480000  51.500000  51.669998  49.752705  16258900
2020-07-27  51.459999  51.459999  50.610001  51.290001  49.386806  13991400
2020-07-28  51.020000  51.660000  50.970001  51.270000  49.367554  13121400
2020-07-29  51.169998  52.590000  50.990002  52.520000  50.571167  16991000
...               ...        ...        ...        ...        ...       ...
2021-01-05  60.349998  62.000000  60.020000  61.700001  60.755959  20213100
2021-01-06  64.489998  66.599998  63.950001  65.250000  64.251640  38106600
2021-01-07  67.070000  68.099998  66.010002  66.019997  65.009857  24161000
2021-01-08  66.209999  66.209999  64.339996  65.370003  64.369804  20747800
2021-01-11  64.580002  66.620003  64.330002  66.440002  65.423431  20454000

[119 rows x 6 columns]

In [ ]:
data.loc['2021-01-11':]

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-01-11  64.580002  66.620003  64.330002  66.440002  65.423431  20454000
2021-01-12  67.489998  67.739998  66.239998  66.669998  65.649918  20162800
2021-01-13  67.000000  67.220001  65.989998  66.860001  65.837006  18541900
2021-01-14  67.519997  69.430000  67.169998  69.010002  67.954109  29108900
2021-01-15  67.370003  67.650002  64.089996  64.230003  63.247246  38295300
...               ...        ...        ...        ...        ...       ...
2021-07-16  68.709999  68.760002  66.419998  66.900002  66.900002  19278900
2021-07-19  65.459999  66.070000  64.360001  65.080002  65.080002  33318600
2021-07-20  65.180000  66.779999  64.779999  66.290001  66.290001  20568400
2021-07-21  67.010002  68.250000  66.930000  67.889999  67.889999  23387300
2021-07-22  67.750000  67.790001  66.410004  66.930000  66.930000  15693622

[134 rows x 6 columns]

In [ ]:
data.loc['2020-12-20':'2021-01-05']

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-21  60.349998  61.820000  59.810001  61.230000  60.293144  31906100
2020-12-22  61.099998  61.139999  59.160000  59.259998  58.353287  17851600
2020-12-23  60.000000  61.310001  59.790001  60.779999  59.850029  16579100
2020-12-24  60.930000  61.090000  59.880001  60.570000  59.643246   6824400
2020-12-28  60.619999  61.930000  60.490002  61.130001  60.194679  14414600
2020-12-29  61.150002  61.400002  60.549999  60.910000  59.978043  10800400
2020-12-30  60.910000  61.270000  60.669998  60.860001  59.928810  10770700
2020-12-31  60.669998  61.849998  60.529999  61.660000  60.716568  12500700
2021-01-04  61.590000  61.709999  59.730000  60.139999  59.219822  21286200
2021-01-05  60.349998  62.000000  60.020000  61.700001  60.755959  20213100

In [ ]:
data.iloc[-1]

Open         6.775000e+01
High         6.779000e+01
Low          6.641000e+01
Close        6.693000e+01
Adj Close    6.693000e+01
Volume       1.569362e+07
Name: 2021-07-22 00:00:00, dtype: float64

In [ ]:
data.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-07-16  68.709999  68.760002  66.419998  66.900002  66.900002  19278900
2021-07-19  65.459999  66.070000  64.360001  65.080002  65.080002  33318600
2021-07-20  65.180000  66.779999  64.779999  66.290001  66.290001  20568400
2021-07-21  67.010002  68.250000  66.930000  67.889999  67.889999  23387300
2021-07-22  67.750000  67.790001  66.410004  66.930000  66.930000  15693622