<a href="https://colab.research.google.com/github/sgusproject/Algotrading-Quantconnect/blob/main/DataframesSeries2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

*   Use Type to get data type
*   Each column is a Series
*   Series show data type (dtype)
*   Calculate with Series
  *   Daily change
  *   Daily percentage change
  *   Normalize data
*   Similarity with Excel
*   Indexing with Series

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("C.csv", index_col=0, parse_dates=True)

In [ ]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-07-23  51.450001  52.230000  51.130001  52.080002  50.147495  17090400
2020-07-24  52.099998  52.480000  51.500000  51.669998  49.752705  16258900
2020-07-27  51.459999  51.459999  50.610001  51.290001  49.386806  13991400
2020-07-28  51.020000  51.660000  50.970001  51.270000  49.367554  13121400
2020-07-29  51.169998  52.590000  50.990002  52.520000  50.571167  16991000

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data['Close']

Date
2020-07-23    52.080002
2020-07-24    51.669998
2020-07-27    51.290001
2020-07-28    51.270000
2020-07-29    52.520000
                ...
2021-07-16    66.900002
2021-07-19    65.080002
2021-07-20    66.290001
2021-07-21    67.889999
2021-07-22    66.930000
Name: Close, Length: 252, dtype: float64

In [ ]:
type(data['Close'])
# only one type (float64 in this case) per column, unlike Excel
# facilitat calculations

pandas.core.series.Series

In [ ]:
# Open value minus Close value.Creating a new array
data['Open'] - data['Close']

Date
2020-07-23   -0.630001
2020-07-24    0.430000
2020-07-27    0.169998
2020-07-28   -0.250000
2020-07-29   -1.350002
                ...
2021-07-16    1.809997
2021-07-19    0.379997
2021-07-20   -1.110001
2021-07-21   -0.879997
2021-07-22    0.820000
Length: 252, dtype: float64

In [12]:
# Assign above array to new variable
daily_chg = data['Open'] - data['Close']

In [15]:
daily_chg

Date
2020-07-23   -0.630001
2020-07-24    0.430000
2020-07-27    0.169998
2020-07-28   -0.250000
2020-07-29   -1.350002
                ...
2021-07-16    1.809997
2021-07-19    0.379997
2021-07-20   -1.110001
2021-07-21   -0.879997
2021-07-22    0.820000
Length: 252, dtype: float64

In [16]:
type(daily_chg)

pandas.core.series.Series

In [20]:
daily_pct_chg = (data['Close'] - data['Open'])/data['Open']*100
daily_pct_chg

Date
2020-07-23    1.224492
2020-07-24   -0.825336
2020-07-27   -0.330350
2020-07-28    0.490004
2020-07-29    2.638269
                ...
2021-07-16   -2.634256
2021-07-19   -0.580503
2021-07-20    1.702978
2021-07-21    1.313232
2021-07-22   -1.210332
Length: 252, dtype: float64

In [24]:
#Normalising data
data['Close'].iloc[0]

52.080002

In [25]:
data['Close'].iloc[-1]

66.93

In [26]:
# Normalise, to see gain/loss at end of data
norm = data['Close']/data['Close'].iloc[0]

In [27]:
# Normalise, to see gain/loss at end of data
norm

Date
2020-07-23    1.000000
2020-07-24    0.992127
2020-07-27    0.984831
2020-07-28    0.984447
2020-07-29    1.008449
                ...
2021-07-16    1.284562
2021-07-19    1.249616
2021-07-20    1.272849
2021-07-21    1.303571
2021-07-22    1.285138
Name: Close, Length: 252, dtype: float64

In [28]:

data['Close'].iloc[0]*norm.iloc[-1]

66.93

In [29]:
data['Close'].iloc[-1]

66.93